<!DOCTYPE html>
<html>
<head>
    <title>FINALY YEEEEEEEE</title>
    <meta charset="utf-8" />
</head>
<style type="text/css">
    TABLE {
        background-color: aqua;
    }
    TD, TH {
        border: 2px solid  ; /* Рамка вокруг ячеек */
    }
</style>

<body>
<div><%- table %> </div>
</body>
<html>